<%- include('patials/head') %>
  <%- include('patials/top_navbar') %>
    <%- include('patials/side_navbar') %>
      <%- include('patials/message') %>


        <!-- loader Start -->
        <div id="loading">
          <div id="loading-center">
          </div>
        </div>
        <!-- loader END -->
        <!-- Wrapper Start -->
        <div class="wrapper">
          <div class="content-page">
            <div class="container-fluid add-form-list">
              <div class="row">
                <div class="col-sm-12">
                  <div class="card">
                    <div class="card-header d-flex justify-content-between">
                      <div class="header-title">
                        <h4 class="card-title">Add Sale</h4>
                      </div>

                      <a href="/users/page-list-sale"> <button type="submit" class="btn btn-primary mr-2">List
                          Sales</button></a>
                    </div>
                    <div class="card-body">
                      <form action="/users/page-add-sale" method="post" enctype="multipart/form-data"
                        data-toggle="validator">
                        <div class="row">

                          <div class="col-md-6">
                            <div class="form-group">
                              <label>Reference No *</label>
                              <input type="text" class="form-control" placeholder="Enter Reference No" name="reference"
                                required>
                              <div class="help-block with-errors"></div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label>Biller *</label>
                              <input type="text" class="form-control" placeholder="Enter Billers name" name="biller"
                                required>
                              <div class="help-block with-errors"></div>
                            </div>
                          </div>

                          <div class="col-md-6">
                            <div class="form-group">
                              <label>Customer *</label>
                              <input type="text" class="form-control" placeholder="Enter Customer Name" required
                                name="customer">
                              <div class="help-block with-errors"></div>
                            </div>
                          </div>
                          <!-- <div class="col-md-6">
                            <div class="form-group">
                              <label>Order Tax *</label>
                              <select name="orderTax" class="selectpicker form-control" data-style="py-0">
                                <option>No Tax</option>
                                <option>GST @5%</option>
                                <option>VAT @10%</option>
                              </select>
                            </div>
                          </div> -->
                          <div class="col-md-6">
                            <div class="form-group">
                              <label>Order Discount</label>
                              <input type="text" class="form-control" placeholder="Discount" name="  orderDiscount">
                            </div>
                          </div>

                          <!-- Total -->
                          <div class="col-md-6">
                            <div class="form-group">
                              <label>Total *</label>
                              <input type="text" class="form-control" placeholder="Total" required name="total">
                              <div class="help-block with-errors"></div>
                            </div>
                          </div>
                          <!-- paid -->
                          <div class="col-md-6">
                            <div class="form-group">
                              <label>Paid *</label>
                              <input type="text" class="form-control" placeholder="Amount Paid" required name="paid">
                              <div class="help-block with-errors"></div>
                            </div>
                          </div>

                          <!-- Address -->
                          <div class="col-md-12">
                            <div class="form-group">
                              <label>Address</label>
                              <input type="text" class="form-control" placeholder="Address" name="address">
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group">
                              <label>Attach Document</label>
                              <input type="file" class="form-control image-file" name="image" accept="image/*">
                            </div>
                          </div>

                          <!-- Sales Status -->
                          <div class="col-md-6">
                            <div class="form-group">
                              <label>Sale Status *</label>
                              <select name="salesStatus" class="selectpicker form-control" data-style="py-0">
                                <option>Completed</option>
                                <option>Pending</option>
                              </select>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label>Payment Status *</label>
                              <select name="paymentStatus" class="selectpicker form-control" data-style="py-0">
                                <option>Pending</option>
                                <option>Due</option>
                                <option>Paid</option>
                              </select>
                            </div>
                          </div>

                        </div>
                        <button type="submit" class="btn btn-primary mr-2">Add Sale</button>
                        <button type="reset" class="btn btn-danger">Reset</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Page end  -->
            </div>
          </div>
        </div>

        <!-- Wrapper End-->
        <%- include('patials/footer') %>
          <%- include('patials/closingtags') %>