<%- include('patials/head') %>
  <%- include('patials/top_navbar') %>
    <%- include('patials/side_navbar') %>
      <%- include('patials/message') %>

        <body class="  ">
          <!-- loader Start -->
          <div id="loading">
            <div id="loading-center">
            </div>
          </div>
          <!-- loader END -->
          <!-- Wrapper Start -->
          <div class="wrapper">

            <div class="content-page">
              <div class="container-fluid add-form-list">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="card">
                      <div class="card-header d-flex justify-content-between">
                        <div class="header-title">
                          <h4 class="card-title">Add Purchase</h4>
                        </div>
                        <a href="/users/page-list-purchase"> <button type="submit" class="btn btn-primary mr-2">List
                            Purchase</button></a>
                      </div>
                      <div class="card-body">
                        <form action="/users/page-add-purchase" method="post" data-toggle="validator">
                          <div class="row">
                            <div class="col-md-6">
                              <div class="form-group">
                                <label for="date">Date *</label>
                                <input type="date" class="form-control" id="date" name="date" />
                              </div>
                            </div>

                            <!-- product Name -->
                            <div class="col-md-6">
                              <div class="form-group">
                                <label>Product Name *</label>
                                <input type="text" class="form-control" placeholder="Name of Product" required
                                  name="productName">
                                <div class="help-block with-errors"></div>
                              </div>
                            </div>

                            <!-- brand Name -->
                            <div class="col-md-6">
                              <div class="form-group">
                                <label>Brand *</label>
                                <input type="text" class="form-control" placeholder="Name of Brand" required
                                  name="brand">
                                <div class="help-block with-errors"></div>
                              </div>
                            </div>

                            <!-- cost -->
                            <div class="col-md-6">
                              <div class="form-group">
                                <label>Supplier</label>
                                <input type="text" class="form-control" placeholder="supplier" name="supplier">
                              </div>
                            </div>
                            <!-- cost -->
                            <div class="col-md-6">
                              <div class="form-group">
                                <label>Cost</label>
                                <input type="number" class="form-control" placeholder="cost" name="cost">
                              </div>
                            </div>

                            <!-- quantity -->
                            <div class="col-md-6">
                              <div class="form-group">
                                <label>Quantity</label>
                                <input type="number" class="form-control" placeholder="Quantity" name="quantity">
                              </div>
                            </div>

                          </div>
                          <button type="submit" class="btn btn-primary mr-2">Add Purchase</button>
                          <button type="reset" class="btn btn-danger">Reset</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Page end  -->
              </div>
            </div>
          </div>

          <!-- Wrapper End-->
          <%- include('patials/footer') %>
            <%- include('patials/closingtags') %>